@use '../../../variables' as v;

.city-card-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.city-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  background: v.$background1;
  background: v.$background2;
  padding: 4%;
}

.city-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-card-title {

  font-size: 2em;
  margin: 0;
}

.city-card-description {
  font-size: 1.3em;
}

.city-card-temp {

  font-size: 3em;
  margin : 0;
  font-weight: bold;
  text-align: center;
}

.city-card-delete {

  text-align: right;
  height: 3vh;
}