.city-card-link {
  display: flex;
  width: 100%;
}

.city-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(8,0,89,1) 10%, rgba(14,0,151,1) 25%, rgba(25,0,255,1) 50%, rgba(15,0,155,1) 75%, rgba(8,0,89,1) 90%, rgba(2,0,36,1) 100%);
  padding: 2%;
}

.city-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-card-title {

  font-size: 2em;
  margin: 0;
}

.city-card-description {
  font-size: 1.3em;
}

.city-card-temp {

  font-size: 3em;
  margin : 0;
  font-weight: bold;
  text-align: center;
}