@use '../../../variables' as v;

.city-card-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.city-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  background: v.$backgroundB1;
  background: v.$backgroundB2;
  padding: 4%;
}

.city-card-Rain{
  background-image: url('../../img/Pluie.jpg');
  background-size: cover;

}

.city-card-Clouds{
  background-image: url('../../img/Nuages.jpg');
  background-size: cover;
}

.city-card-Smoke{
  background-image: url('../../img/Brouillard.jpg!d');
  background-size: cover;

}

.city-card-Clear{
  background-image: url('../../img/ciel-bleu.jpg');
  background-size: cover;
}

.city-card-Snow{

  background-image: url('../../img/Neige.jpg!d');
  background-size: cover;

}


.city-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-card-title {

  font-size: 2em;
  margin: 0;
}

.city-card-description {
  font-size: 1.3em;
}

.city-card-temp {

  font-size: 3em;
  margin : 0;
  font-weight: bold;
  text-align: center;
}

.city-card-delete {

  text-align: right;
  height: 3vh;
}