.search-bar {
  width: 100%;
  margin-bottom: 25px;
}

.search-bar-input{
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-radius: 25px;
}

.suggestions-container {
    position: absolute;
    z-index: 1000;
    color : black;
    width: 100%;
}